// .quality {
//     position: absolute;
//     right: 22px;
//     top: 13px;
// }



.bottom {
    top: 10px;
    position: absolute;
    left: 27px;
    width: 100%;
}

.rating {
    right: 55px;
    position: absolute;
}